@page "/herde"
@inject IMatToaster Toaster
@inject DataContext DataContext
@inject CategoryMapper CategoryMapper

<h3>Deine Herde:</h3>

<MatFileUpload OnChange="@FilesReady" Label="Drop a single file here or Browse"></MatFileUpload>

<MatTable Items="@gves">
    <MatTableHeader>
        <th>Ohrenmarkennummer</th>
        <th>Name</th>
        <th>Kategorie</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Tvd.Ohrmarkennummer</td>
        @if (string.IsNullOrEmpty(context.Tvd.Name))
        {
            <td>Unbenannt</td>
        }
        else
        {
            <td>@context.Tvd.Name</td>
        }
        <td>@CategoryMapper.GetCategory(context.Tvd)</td>
    </MatTableRow>
</MatTable>

<MatButton Raised="true" Disabled="buttonDisabled" OnClick="SaveImportedData">Daten speichern</MatButton>

@code {
    private List<GveModel> gves = new List<GveModel>();
    private bool buttonDisabled = false;

    private async Task SaveImportedData()
    {
        buttonDisabled = true;
        try
        {
            await DataContext.GveModel.AddRangeAsync(gves);
            await DataContext.SaveChangesAsync();

            Toaster.Add("Daten gespeichert.", MatToastType.Success);
        }
        catch
        {
            //ignored (data probably already exists)
        }
        buttonDisabled = false;
    }

    async Task FilesReady(IMatFileUploadEntry[] files)
    {
        //delete all currently existing data.
        DataContext.GveModel.RemoveRange(DataContext.GveModel);

        if (files.Length != 1)
            return;

        List<TvdModel> records = new List<TvdModel>();

        using (var stream = new MemoryStream())
        {
            await files[0].WriteToStreamAsync(stream);

            stream.Seek(0, SeekOrigin.Begin);

            string content;
            using (var tempReader = new StreamReader(stream))
            {
                content = tempReader.ReadToEnd();
            }
            content = content.Replace("Ohrmarkennummer:", "Ohrmarkennummer");

            using (var reader = new StringReader(content))
            {
                var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
                csv.Configuration.HasHeaderRecord = true;
                csv.Configuration.Delimiter = ";";
                csv.Configuration.MissingFieldFound = null;
                csv.Configuration.Encoding = System.Text.Encoding.UTF8;
                csv.Configuration.HeaderValidated = null;

                records = csv.GetRecords<TvdModel>().ToList();
                if (records == null)
                {
                    Toaster.Add("Fehler beim Import", MatToastType.Danger);
                    return;
                }

                foreach (var item in records)
                {
                    gves.Add(new GveModel()
                    {
                        GveId = Guid.NewGuid().ToString(),
                        Name = item.Name,
                        Tvd = item
                    });
                }
            }

            Toaster.Add("Daten erfolgreich importiert.", MatToastType.Success);
        }
    }
}